[submodule "aidley.com/themes/ananke"]
	path = aidley.com/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "aidley.com/themes/anatole"]
	path = aidley.com/themes/anatole
	url = git@github.com:TimAidley/anatole.git

